 <h1>"Welcome, <%= @user.name%>!"</h1>

<%days = ["sunday", "monday", "tuesday", "wednesday", "thursday", "friday", "saturday"]%>

 <form action="/animes" method="POST">
 <input id="hidden" type="hidden" name="_method" value="patch">
    <%days.each do |day|%>
    <h3><%=day.capitalize %></h3>
    <% Anime.where(day: day).each do |anime|%>
     <li>
    <input type="checkbox" name="choice[]" value="<%=anime.id %>" <%= 'checked' if current_user.animes.include?(anime) %>>
         <%= anime.title %>
      </li>
   <%end%>
 <%end%>
 <input type="submit" value="submit">
 </form>
<a href="/logout">Log Out</a>