<h1>Reviews</h1>

<% current_user.user_anime_reviews. each do |review| %>
    <h4><%= review.anime.title %></h4>
    <img src="<%= review.anime.image_url%>">
    <p><%= review.review %></p>
    <a href="/reviews/<%= review.id%>/edit">Edit</a>

<form action="/reviews/<%= review.id %>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="delete">
</form>
<% end %>

<a href="/profile">Home</a>