<h1>Reviews</h1>

<h4><%= @review.anime.title %></h4>
    <img src="<%= @review.anime.image_url%>">
    <p><%= @review.review %></p>
    <a href="/reviews/<%= @review.id%>/edit">Edit</a>
    <a href="/reviews/<%= @review.id%>">Delete </a>